*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 .container{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/pexels-fauxels-3183190.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    }

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 130px;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background: #d9d9d9;
    margin:5px 5px 5px 60px;
    transition: all 0.4s ease;
}
.burger{
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 13px;
}.row{
    display: flex;
    height: 88%;
    align-items: center;
}
 .col{
     flex-basis: 50%;
 }

h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 12px;
    line-height: 1.4em;
}

button{
    width: 180px;
    color: rgb(24, 24, 24);
    font-size: 13px;
    font-weight: 700;
    padding: 12px 0;
    background: #f4f4f4;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(img/hosting1.jpg);
    background-position: -100px 0;

}

.card2{
    background-image: url(img/web-develop.jpg);}

 .card3{
background-image: url(img/web-design.jpg);}

.card4{
    background-image: url(img/graphic.jpg);}


h5, .card p{
    color: #f4f4f4;
    text-shadow: 2px 1px 5px #424242;
}

.card p{
    color: #fff;
}
.card:hover{
    transform: translateY(-15px);
}


@media  (min-width :501px) and (max-width :1110px){
    .row{
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-gap: 20px;
        grid-auto-rows: 2, 1fr;
     margin: 20px auto;
    }

    .card{
        margin: auto;
    }

    .grid {
        grid-column: 1 / 2;
        grid-row: 1;}

    .card1{
        grid-column: 1 / -1 ;
        grid-row: 2 / 3 ;
    }

    .card2{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3 ;
    }
    .col{
        display: grid;
        grid-template-columns: 2 1fr 1fr;
        flex-basis: 100%;
    }

    .col h1, .card h5, .row p, .col button{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card, button{
        display: block;
        margin: 20px auto;
    }

    .container{
        height: auto;

    }
    
    .navbar{
        padding-top: 15px;
    }
    nav ul li{
        margin-left: 20px;
    }
}

@media (max-width : 500px){

.container{ 
    overflow-x: hidden;}

    .container{
        height: auto;
    }

    .row{
        display:block;
        padding-bottom: 20px;
    }

    .col h1, .card h5, .row p, .col button{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .row button{
    display: block;
    margin: 20px auto;
    width: 50%;
    min-width: 70px;
    max-width: 150px;
    }
    .card{
    display: block;
    margin: 20px auto;
    width: auto;
    min-width: 100px;
    max-width: 200px;
}
    .navbar{
        padding-top: 15px;
    }
    nav ul li{
        margin: 0  10%;
    }
    
    .logo{
        width: auto;
        max-width: 120px;
        min-width: 60px;
    }

    h1{
       font-size:xx-large;
       padding-top: 10px;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 12vh;
        background-color: hsla(0, 0%, 96%, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        padding-bottom: 33%;
        padding-top: 33%;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-links li a{
        color: rgb(24, 24, 24);
        font-weight: 550;
        
    }

    .nav-active{
        transform: translateX(0%);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}