*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 .container{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/pexels-fauxels-3183190.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    }

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 130px;
    cursor: pointer;
}

.menu-icon{
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 13px;
}.row{
    display: flex;
    height: 88%;
    align-items: center;
}
 .col{
     flex-basis: 50%;
 }

h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 12px;
    line-height: 1.4em;
}

button{
    width: 180px;
    color: rgb(23, 23, 24);
    font-size: 13px;
    font-weight: 700;
    padding: 12px 0;
    background: #f4f4f4;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(img/hosting1.jpg);
    background-position: -100px 0;

}

.card2{
    background-image: url(img/web-develop.jpg);}

 .card3{
background-image: url(img/web-design.jpg);}

.card4{
    background-image: url(img/graphic.jpg);}


h5, .card p{
    color: #f4f4f4;
    text-shadow: 2px 1px 5px #424242;
}

.card p{
    color: #fff;
}
.card:hover{
    transform: translateY(-15px);
}


@media  (min-width :501px) and (max-width :1110px){
    .row{
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-gap: 20px;
        grid-auto-rows: 2, 1fr;
     margin: 20px auto;
    }

    .card{
        margin: auto;
    }

    .grid {
        grid-column: 1 / 2;
        grid-row: 1;}

    .card1{
        grid-column: 1 / -1 ;
        grid-row: 2 / 3 ;
    }

    .card2{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3 ;
    }
    .col{
        display: grid;
        grid-template-columns: 2 1fr 1fr;
        flex-basis: 100%;
    }

    .col h1, .card h5, .row p, .col button{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card, button{
        display: block;
        margin: 20px auto;
    }

    .container{
        height: auto;

    }
    
    .navbar{
        padding-top: 15px;
    }
    nav ul li{
        margin-left: 20px;
    }
}

@media (max-width : 500px){

    .container{
        height: auto;
    }

    .row{
        display:block;
        padding-bottom: 20px;
    }

    .col h1, .card h5, .row p, .col button{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card, button{
        display: block;
        margin: 20px auto;
    }

    .navbar{
        padding-top: 15px;
    }
    nav ul li{
        margin-left: 20px;
    }


    nav{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}